*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: #ffffff;
  /*border: 1px solid lightgrey;*/
}

/*This is the basic section*/

h1, h2, h3, h4 {
  font-family: 'Hind', sans-serif;
  color: #2a2a2a;
}

h5, h6, p {
  font-family: 'Open Sans', sans-serif;
  color: #a6a9bd;
}

a {
  color: #a6a9bd;
  text-decoration: none;
}

#logo {
  align-items: center;
  margin-bottom: 10%;
}

li {
    font-family: 'Open Sans', sans-serif;
  color: #a6a9bd;
}

/*This is the helper section*/

.title h1, h2, h3 {
  margin: 5% 10%;
  text-align: center;
}

.fakebutton {
  background-color: #00146d;
  min-height: 5rem;
  text-align: center;
  align-items: center;
  padding: 3%;

}
.fakebutton h3 {
  background-color: #00146d;
  color:white;
  margin-top: 7%;
  font-size: 2rem;
}
.fakebutton h4 {
  background-color: #00146d;
  color:white;
  margin-top: 7%;
  font-size: 1.5rem;
}

/*This is the homepage section*/

header {
  min-height: 5vh;
}

.link:hover a{
  background-color: #00146d;
}

.link{
  margin-top: 2%;
}

.hometitle h1{
  margin: 2% 10%;
  text-align: center;
}

.hometitle p{
  margin: 4% 10%;
  line-height: 1.5rem;
  font-size: 1.3rem;
  text-align: justify;
}

.buttons div{
  margin: 0 2%;
}


/*This is the schedule section*/

.scheduleheading {
  font-size: 3rem;
}

.dayinfo {
  margin: 5% 20%;
}
.date {
  border: 2px solid #00146d;
  text-align: center;
  min-height: 10vh;
  padding-top: 2%;
}

ul.main {
  list-style: none;
  max-width: 75%;
  margin: 20px auto;
}
.date h3 {
  padding: 0;
  margin: 4%;
  font-size: 3rem;
}

.events {
  /*float: left;*/
  width: 80%;
  border-left: 1px solid #ccc;
  margin-top: 5%;
  padding-top: 3%;
}

.events-detail {
  max-width: 550px;
}

.events-detail li{
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  /*line-height: 22px;*/
  transition: ease .4s all;
  font-size: 2rem;
}

/*.events-detail li:hover {
  background: #e9e9e9;
}*/

.event-time, .event-name {
  font-weight: 900;
  font-size: 3rem;
}

.event-name {
  color: midnightblue;
}

.events-detail li a {
  text-decoration: none;
  color: #444;
  width: 100%;
  /*height: 100%;*/
  /*display: block;*/
}

.event-location {
    font-size: 2.5rem;
    color: tomato;
    margin-left: 70px;
}

/*This is the section for speakers and sessions*/

.details {
  padding: 3% 10%;
  border-bottom: 3px dotted midnightblue;
  border-top: 3px dotted midnightblue;
}

.speakerdetails {
  font-size: 3rem;
}

.bio p{
  font-size: 2.5rem;
}
.bio {
  margin: 3% 10%;
}
.icons {
  text-align: center;
}
.icons i {
  font-size: 4rem;
  margin-top: 2%;
}

.sessions {
  margin: 3% 10%;
  font-size: 3rem;
}

.photo {
  min-height: 30vh;
}

/*This is the social section*/

.twitter-timeline {
  margin: 0 0;
}
.socialtitle {
  margin: 2% 15%;
  text-align: center;
}

#twitter {
  width: 300px;
}

.socialbuttons {
  margin: 0 5%;
}

/*This is the participant section*/
.participanttitle {
  font-size: 3rem;
}
.participants h3 {
  font-size: 2.8rem;
}
.participants h4 {
  font-size: 2.5rem;
}

.linktitle h3{
  font-size: 5rem;
}

#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.dontShow{
  display:none;
}

.search, #clearSearch{
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
}

#searchInput {
  font-size: 3rem;
  padding: 2%;
  border: 1px solid slategrey;
}

/*This is the credits section*/
.creditstext p{
    padding: 2%;
    text-align: justify;
}

.logos div {
    min-height: 100px;
    margin: 0 2%;
    
}

.mwh {
    background-image: url("http://euausforum.eu/mwh logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    
}

.aiia {
    background-image: url("http://euausforum.eu/AIIA Logo Landscape w Tagline 2 copy.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    
}

.agriconsulting {
    background-image: url("http://euausforum.eu/AESA Agriconsulting Europe.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    
}

.ahk {
    background-image: url("http://euausforum.eu/ahk logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    
}

.eufunding {
    background-image: url("http://euausforum.eu/9436821B9DAD44E1903120C9476993CD-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    
}

/*This is the footer section*/

footer p {
  font-size: 0.5rem;
  margin-top: 5%;
}



  li.date p {
    margin:0;
  }
}
