<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gridlex/2.3.1/gridlex.min.css">
<script src="https://use.fontawesome.com/cb8566a1d6.js"></script>
</head>

<body>

  <header>
    <a href="/index.html"><div id="logo">
      <img src="/images/australia-logo_0.png" />
    </div></a>
  </header>

  <div class="speakerdetails">
    <h2>Speaker Profile</h2>
  </div>

  <section class="details grid">
    <div class="photo col-4" style="background-image: url('{{page.image}}'); background-repeat: none; background-size: cover; background-position: top;">
    </div>

    <div class="title col-8 speakerdetails">
      <h2> {{ page.name }}</h2>
    </div>
    
    <div class="grid"></div>
      <div class="col-8 speakerdetails">
          <h3> {{ page.role }}</h3>
          <h3> {{ page.organisation }}</h3>
      </div>
      <div class="icons col-4 speakerdetails">
             <a href="http://www.twitter.com/{{page.twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
             <a href="http://www.linkedin.com/in/{{page.linkedin}}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
    </div>
  </section>


  <section class="bio">
    <p>
      {{ content }}
    </p>
  </section>

  <section class="sessions">
    <h2>Sessions</h2>
    {% for session in page.session %}
      <div>
        <ul>
          <a href="{{ session.url}}"><h4>{{ session.name }}</h4></a>
        </ul>
      </div>
    {% endfor %}
  </section>




</body>
